// default variables of the component
$app-header-h1-background-color: steelblue !default;
$app-header-h1-color: white !default;

// code style here
app-header{
    div{
        width: 100%;
        text-align: center;
        h1 {
            color: $app-header-h1-color;
            background-color: $app-header-h1-background-color;
            padding: 10px;
        }
    }
}



