@import "../common/variables";

// Theme variables
$default-background-color: teal;



// Header variables
$app-header-h1-background-color: $default-background-color;

// Footer variables
$app-footer-background-color: $default-background-color;



